%% -*- mode: erlang; erlang-indent-level: 2 -*-
{erl_opts,            [debug_info, warnings_as_errors]}.
{xref_checks,         [undefined_function_calls]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.

{deps,
 [{cowboy,
   "1.1.2"},
  {redbug,
   "2.0.7"},
  {mustasch,
   {git, "git@github.com:massemanet/mustasch.git",
    {ref, "3a8dd37"}}}]}.

{relx,
 [{release,
   {'massema.net', git},
   ['massema.net']},

  {dev_mode, true},
  {include_erts, false},
  {vm_args, "config/vm.args"},
  {sys_config_src, "config/sys.config.src"},
  {extended_start_script, true}]}.
