%% -*- mode: erlang; erlang-indent-level: 2 -*-
{erl_opts, [debug_info]}.
{deps,
 [{cowboy,
   "1.1.2"},
  {egeoip,
   {git, "git@github.com:massemanet/egeoip.git",
    {ref, "4efda2c2b5b0084d3e77b8f0bbdec78514706b34"}}},
  {erlmarkdown,
   {git, "git@github.com:massemanet/erlmarkdown.git",
    {ref, "8ef862ebf85380a8aedfdd66cdaa26db87a8bc3f"}}}]}.
