<html>
  <title>massema.net</title>
  <body>
    Node: <tt>{{ ''.erlang:node }}</tt><p>
    Module: <tt>
      {{ ''.erlang:self.erlang:process_info.current_function.1 }}</tt><p>
    Request: <tt>{{ all }}</tt><p>
    User agent: <tt>{{ parsed_header.user-agent }}</tt><p>
    Client IP: <tt>{{ init_data.2.2 }}</tt><p>
    You're in: <tt>{{ init_data.2.2.egeoip:lookup.2.4 }}</tt><p>
    uname: <tt>{{ "uname -a".os:cmd }}</tt>
  </body>
</html>
